body {
	font-family: Arial, sans-serif;
}
a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

.block_title {
	color: #000;
    font-size: 36px;
    text-transform: uppercase;
	text-align: center;
	margin: 0 0 15px;	
	font-weight: bolder;
}
.block_desc {
	font-size: 24px;
	text-align: center;
	color: #A9A9A9;
	margin: 0 0 30px;
}

.p0  {
	padding: 0;
}

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}






