.video-commercial {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 85px 0;
	color: #FFF;
	background-color: rgba(185, 92, 88, 0.8);
	text-align: center;
	-webkit-box-shadow: inset 0px -50px 80px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    inset 0px -50px 80px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         inset 0px -50px 80px 0px rgba(0, 0, 0, 0.2);
	h1 {
		font-size: 75px;
		font-weight: bolder;
		text-transform: uppercase;
		text-shadow: 0px 0px 15px #000;
	}
	h2 {
		font-size: 45px;
		font-weight: bold;
		text-transform: uppercase;
		text-shadow: 0px 0px 15px #000;
	}
	h4 {
		font-size: 36px;
		margin: 15px 0;
	}
	&__form {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		margin-top: 25px;
		background-color: rgba(0,0,0,.8);
		@include border-radius(15px);
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 30px;
		text-align: left;
		color: #FFF;
		h4 {
			font-size: 22px;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0;
		}
		p {
			font-size: 13px;
			font-weight: bolder;
			margin: 0;
		}
		&--inp {
			font-size: 20px;
			border: 3px solid #DCDCDC;
			outline: none;
			width: 75%;
			height: 45px;
			line-height: 45px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding: 0 15px;
			font-weight: bold;
			color: #000;
			display: inline-block;
			margin: 25px 0 15px;
		}
		&--sub {
			font-size: 20px;
			text-transform: uppercase;
			width: 20%;
			height: 48px;
			line-height: 45px;
			margin-left: 35px;
			color: #fff;
			font-weight: bold;
			text-align: center;
			outline: none;
			display: inline-block;
			position: relative;
			@include transition(.3s);
			border-bottom: 3px solid #2D4F70;
			background-color: #428AC9;
			border-left: none;
			border-top: none;
			border-right: none;
			&:hover, &:focus {
				background-color: darken(#428AC9, 15%);
				border-bottom-color: darken(#2D4F70 ,15%);
			}
			
		}
	}
}

.advantages {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 55px 0 145px;
	background-color: #EFEFEF;
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		margin: 25px 0;
		&--icon {
			display: inline-block;
			width: 65px;
			height: 65px;
			line-height: 65px;
			color: #FFF;
			font-size: 40px;
			text-align: center;
			margin-right: 25px;		
			@include border-radius(50%);
			background-color: #428AC9;	
			vertical-align: top;
		}
		&--desc {
			display: inline-block;
			width: calc(100% - 94px);
			vertical-align: top;
			h4 {
				font-weight: bold;
				margin: 0 0 10px 0;
				font-size: 17px;
			}
			p {
				font-size: 14px;
				margin: 0;
				font-weight: 500;
			}
		}
	}
}

.prices {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 45px 0;
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		border: 2px solid #D9D9D9;
		text-align: center;
		@include border-radius(15px);
		padding: 20px 0;
		color: #000;
		margin: 25px 0;
		h4 {
			text-transform: uppercase;
			font-size: 26px;
			padding: 15px 0;

		}
		&--price {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			background-color: #F2F2F2;
			border: solid #D3D3D3;
			border-width: 3px 0;
			padding: 15px 0;
			letter-spacing: -1px;
			h3 {
				margin: 0;
				font-size: 50px;
			}
			small {
				margin: 0;
				font-size: 16px;
				color: #989898;
				font-weight: 900;				
			}
		}
		&--properties {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding: 20px 30px 0;
			p {
				display: block;
				float: left;
				width: 100%;
				font-size: 24px;				
				border-bottom: 2px solid #CECECE;
			}
			a {
				@extend .header__contacts--order-call;
				@include border-radius(0);
				padding: 10px 45px;
				margin-top: 25px;
			}
		}
		&--center {
			background-color: #428AC9;
			border: 2px solid transparent;
			color: #FFF;
			.prices__item--price {
				background-color: #3071A8;
				border-color: #3071A8;
				small {
					color: #fff;
				}
			}
			.prices__item--properties {
				a {
					background-color: #444;
					border-bottom: 2px solid #436685;
					&:hover, &:focus {
						background-color: darken(#444,10%);
						border-bottom: 2px solid darken(#436685,10%);
					}
				}
			}
		}		
	}
	&__what-to-do {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		padding: 45px 0;
		margin: 15px 0;
		background-color: #428AC9;
		text-align: center;
		color: #fff;
		h2 {
			font-weight: 900;
			font-size: 36px;
			margin: 0 0 15px 0;
		}
		&--but {
			display: inline-block;
			position: relative;
			@include transition(.3s);
			padding: 10px 30px;
			background-color: #3071A8;
			color: #fff;
			font-weight: 500;
			font-size: 24px;
			text-decoration: none;
			margin-top: 15px;
			&:hover, &:focus {
				background-color: darken(#3071A8,10%);
				text-decoration: none;
				color: #FFF;
			}
		}
	}
	&__extra {
		display: block;
		float: left;
		h3 {
			font-weight: 900;
			font-size: 33px;
			color: #598dc9;			
		}
		ul {
			display: block;
			float: left;
			position: relative;
			padding: 0;
			-webkit-column-count: 2;
			   -moz-column-count: 2;
					column-count: 2;
			-webkit-column-gap: 50px;
			   -moz-column-gap: 50px;
					column-gap: 50px;
		    li {
		    	font-size: 20px;
		    	border-bottom: 2px solid #CECECE;
		    }
		}
	}
}

.video-slider {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	color: #FFF;
	background-color: #428AC9;
	padding: 35px 0;
	text-align: center;
	h2 {
		color: #FFF;
	}
	h5 {
		color: #FFF;
	}
	.owl-carousel {
		display: block;
		height: 465px;
		width: 90%;
		margin: 15px auto;
	}
	.video-slider__item {
		display: block;
		float: left;
		width: 25%;
		height: 220px;
		margin-right: -1px;
		position: relative;
	}
	&--more {
		@extend .prices__what-to-do--but;
		margin-top: 0;
		font-size: 24px;
	}
}

.objections {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 25px 0;
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		margin-bottom: 20px;
		&--thumb {
			display: block;
			float: left;
			position: relative;
			width: 35%;
			height: 120px;
			margin-right: 5%;
			@include overflow-img;
			background-color: #D2D2D2;
			img {
				max-width: 150%;
			}
		}
		&--desc {
			display: block;
			float: left;
			position: relative;
			width: 60%;
			color: #000;
			h4 {
				font-size: 22px;
				font-weight: bold;
				margin: 0 0 10px;
			}
			p {
				font-size: 14px;
				margin: 0;
			}
		}
	}
	&__tv {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		h3 {
			margin: 0 0 10px;
			font-size: 28px;
			color: #598DC9;
			font-weight: bold;
		}
		p {
			font-size: 14px;
		}
		ul {
			text-align: right;
			margin: 25px 0;
			li {
				color: #000;
				font-size: 22px;
				font-weight: bold;
				&:before {
					font-family: FontAwesome;;
					content: '\f00c';
					font-size: 22px;
					color: #598DC9;
					margin-right: 10px;
				}
			}
		}
	}
	&__pros {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		padding: 50px 0;
		img {
			display: block;
			width: 80%;
			margin: 0 auto;
		}
	}
}

.havent-site {
	@extend .prices__what-to-do;
	background-color: #EFEFEF;
	h2 {
		color: #000;
	}
}

.reviews {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 25px 0;
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		margin: 25px 0;
		&--text {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			margin-bottom: 35px;
			border: 2px solid #DEDEDE;
			@include border-radius(10px);
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding: 50px 25px;
			background-color: #EFEFEF;
			p {
				margin: 0;
				font-size: 27px;
				color: #726666;
				font-style: italic;
			}
			&:before {
				content: "";
				position: absolute;
				left: 40px;
				bottom: -20px;
				border-top: 20px solid #EFEFEF;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				z-index: 0;
			}
			&:after {
				content: "";
				position: absolute;
				left: 38px;
				bottom: -22px;
				border-top: 22px solid #DEDEDE;
				border-left: 22px solid transparent;
				border-right: 22px solid transparent;
				z-index: -1;
			}
		}
		&--user {
			&--avater {
				display: block;
				float: left;
				width: 150px;
				height: 150px;
				border: 7px solid #dcdcdc;
				background-color: #C0D5DB;
				margin-right: 25px;	
				@include border-radius(50%);			
			}
			&--name {
				display: block;
				float: left;
				position: relative;
				width: calc(100% - 175px);
				margin-top: 35px;
				h3 {
					font-size: 35px;
					color: #000;
					font-weight: 900;
					margin: 0;
				}
				p {
					margin: 0;
					font-size: 24px;
					color: #428AC9;
				}
			}
		}
	}
}

.partners {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 25px 0;
	&__item {
		display: inline-block;
		width: 20%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 25px;
		margin: 25px -2px;
		height: 120px;
		position: relative;
		img {
			position: relative;
			height: 100%;
			width: auto;
			position: relative;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%,-50%);
			   -moz-transform: translate(-50%,-50%);
			    -ms-transform: translate(-50%,-50%);
			     -o-transform: translate(-50%,-50%);
			        transform: translate(-50%,-50%);
		}
	}
}
