.navigation {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	background: none;
	border: none;
	font-weight: bold;
	color: #FFF;
	display: inline-block;
	float: none;
	margin-top: 20px;
	ul {
		padding: 0;
		width: 100%;
		display: inline-block;
		text-align: center;
		float: none;
		margin: 15px 0 0;
		li {
			display: inline-block;
			float: none;
			margin-right: -3px;
			a {
				color: #FFF!important;
				font-size: 21px;
				padding: 20px 35px;
				background-color: #428AC9;
				border-bottom: 4px solid #2B75B2;
				@include transition(.3s);
				&:hover, &:focus {
					color: #fff!important;
					background-color: #FF633C!important;
					border-bottom: 4px solid #e05735;
				}
			}
		}
	}
}